:host {
  display: block;
  padding: 2rem;
}

.task-list {
  margin-bottom: 2rem;
}

.task-list-item {
  cursor: pointer;
}
.task-list-item:not(:last-of-type) {
  margin-bottom: 1rem;
}

.status {
  color: red;
}

.status.completed {
  color: green;
}
